<!--
  Generated template for the AmigosbPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="secondary">
        <ion-title hideWhen="android" text-center><img src="assets/imgs/logo.png" onerror="this.src='assets/imgs/IconeFestas.png'" class="logo" alt=""></ion-title>
        <ion-grid hideWhen="ios">
            <ion-row>
                <ion-col col-10>
                    <ion-title text-center><img src="assets/imgs/logo.png" onerror="this.src='assets/imgs/IconeFestas.png'" class="logo" alt=""></ion-title>
                </ion-col>
                <ion-col col-2>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item-divider>
            <h1 class="center">Meus seguidores</h1>
        </ion-item-divider>
        <ion-item *ngFor="let u of seguidores">
            <ion-thumbnail (click)="visualizarPerfil(u._id)" item-start>
                <img src="{{u.profile_photo}}" alt="">
            </ion-thumbnail>
            <div (click)="visualizarPerfil(u._id)">
                <h3>{{u.name}}</h3>
                <h4>{{u.nickname}}</h4>
            </div>

        </ion-item>
    </ion-list>
</ion-content>