<ion-tabs #companyTabs color="footer">
    <ion-tab [root]="graficosRoot" tabTitle="" tabIcon="custom-analytics"></ion-tab>
    <ion-tab [root]="novaFestabRoot" tabTitle="" tabIcon="custom-add"></ion-tab>
    <ion-tab [root]="configbRoot" tabTitle="" tabIcon="custom-config"></ion-tab>
</ion-tabs>