page-balada {

}
ion-icon {
    &[class*="custom-"] {
        margin: 0 5px 0 0;
        vertical-align: middle;
        $sz: 50px;
        width: $sz;
        height: $sz;
    } // custom icons
    &[class*="analytics"] {
        background: url(../assets/imgs/icon-analytics.png) no-repeat 50% 50%;
        background-size: contain;
    }
    &[class*="star"] {
        background: url(../assets/imgs/icon-favorite.png) no-repeat 50% 50%;
        background-size: contain;
    }
    &[class*="add"] {
        background: url(../assets/imgs/icon-add.png) no-repeat 50% 50%;
        background-size: contain;
    }
    &[class*="person-add"] {
        background: url(../assets/imgs/icon-person.png) no-repeat 50% 50%;
        background-size: contain;
    }
    &[class*="config"] {
        background: url(../assets/imgs/icon-config.png) no-repeat 50% 50%;
        background-size: contain;
    }
    
    }