<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="secondary">
        <ion-title class="center"><img src="assets/imgs/logo.png" class="logo" alt=""></ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="novaFoto()">
          <ion-icon name="camera"></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div padding-left padding-top padding-right class="{{(usuario.pessoa_fisica)?'painel':'painel-balada'}}" text-center>
        <img src="{{usuario.profile_photo}}" onerror="this.src='assets/imgs/avatar.png'" class="circle perfil-photo" />
        <h2>{{usuario.name}}</h2>
        <h3>{{usuario.nickname}}</h3>
        <ion-segment [(ngModel)]="tela">

            <ion-segment-button value="eventos">
                {{(usuario.pessoa_fisica)?'Próximas festas':'Festas da balada'}}
                <!--<ion-badge color="secondary">{{qtdfestas}}</ion-badge>-->
            </ion-segment-button>
            <ion-segment-button value="amigos">
                Seguidores
                <!--<ion-badge color="secondary">{{qtdSeguidores}}</ion-badge>-->
            </ion-segment-button>
        </ion-segment>
    </div>
    <div [ngSwitch]="tela" padding>
        <ion-list *ngSwitchCase="'eventos'">
            <ion-item *ngIf="qtdfestas == 0">
                <h2 text-center>Você não possui próximas festas</h2>
            </ion-item>
            <ion-item *ngFor="let f of festas" (click)="detalharFesta(f._id)">
                <ion-thumbnail item-start>
                    <img src="{{p}}" onerror="this.src='assets/imgs/IconeFestas.png'" *ngFor="let p of f.picture| slice:0:1">
                </ion-thumbnail>
                <h3>{{f.title}}</h3>
                <p>{{f.description}}</p>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'amigos'">
            <ion-item *ngIf="qtdSeguidores == 0">
                <h2 text-center>Você não possui seguidores!</h2>
            </ion-item>
            <ion-item *ngFor="let u of seguidores">
                <ion-thumbnail (click)="visualizarPerfil(u._id)" item-start>
                    <!--<img src="{{p}}" *ngFor="let p of u.profile_photo">-->
                    <img src="{{u.profile_photo}}" onerror="this.src='assets/imgs/avatar.png'" alt="">
                </ion-thumbnail>
                <div (click)="visualizarPerfil(u._id)">
                    <h3>{{u.name}}</h3>
                    <h4>{{u.nickname}}</h4>
                </div>
                <div *ngIf="usuario.pessoa_fisica">
                    <button ion-button *ngIf="!u.selected" (click)="seguir('ADD',u._id)">
                  <span>Seguir <ion-icon name="checkmark-circle"></ion-icon></span>
                </button>
                    <button ion-button *ngIf="u.selected" color="secondary" (click)="seguir('DELETE',u._id)">
                  <span>Deixar de seguir <ion-icon name="checkmark-circle-outline"></ion-icon></span>
                </button>
                </div>


            </ion-item>
        </ion-list>
    </div>
</ion-content>