page-perfil {
    .painel {
        background: color($colors, third) url('../assets/imgs/btn.png');
        color: #fff;
    }
    .painel-balada {
        background: color($colors, fourth);
        color: #fff;
    }
    .perfil-photo{width: 150px;height: 150px;}
}