<ion-tabs #userTabs color="footer">
    <ion-tab [root]="configRoot" tabTitle="" tabIcon="custom-custom-config"></ion-tab>
    <ion-tab [root]="mapRoot" tabTitle="" tabIcon="custom-custom-pin"></ion-tab>
    <ion-tab [root]="novaFestaRoot" tabTitle="" tabIcon="custom-add"></ion-tab>
    <ion-tab [root]="destaquesRoot" tabTitle="" tabIcon="custom-star"></ion-tab>    
    <ion-tab [root]="amigosRoot" tabTitle="" tabIcon="custom-person-add"></ion-tab>    
</ion-tabs>

<!--
<ion-tabs #userTabs color="footer">
    <ion-tab [root]="destaquesRoot" tabTitle="Destaques" tabIcon="custom-star"></ion-tab>
    <ion-tab [root]="amigosRoot" tabTitle="Seguidores" tabIcon="custom-person-add"></ion-tab>
    <ion-tab [root]="novaFestaRoot" tabTitle="Nova festa" tabIcon="custom-add"></ion-tab>
    <ion-tab [root]="mapRoot" tabTitle="Mapa" tabIcon="custom-custom-pin"></ion-tab>
    <ion-tab [root]="configRoot" tabTitle="Configurações" tabIcon="settings"></ion-tab>
</ion-tabs>
-->