<!--
  Generated template for the GraficosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar color="secondary">
        <ion-title class="center"><img src="assets/imgs/logo.png" class="logo" alt=""></ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="view-graficos" padding>
    <div id="popg" style="display: block;"></div>
    <form (submit)="pesquisarFestasEntreDatas()">
        <ion-item>
            <ion-datetime displayFormat="DD/MM/YYYY" name="inicio" [(ngModel)]="filtroDatas.start" max="2030" min="2018" pickerFormat="DD MM YYYY" placeholder="Data Inicial*"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-datetime displayFormat="DD/MM/YYYY" name="fim" [(ngModel)]="filtroDatas.end" max="2030" min="2018" pickerFormat="DD MM YYYY" placeholder="Data Final*"></ion-datetime>
        </ion-item>
        <button ion-button block><span>Pesquisar <ion-icon name="search"></ion-icon></span></button>
    </form>
    <div id="pg" style="display: block;"></div>
    <div id="ig" style="display: block;"></div>
    <ion-item>
        <ion-label>Minhas festas</ion-label>
        <ion-select [(ngModel)]="festaPopular" (ionChange)="pesquisarPopularidadeDaFesta()">
            <ion-option value="">Selecione</ion-option>
            <ion-option value="{{f._id}}" *ngFor="let f of festasNome">{{f.title}}</ion-option>

        </ion-select>
    </ion-item>
    <div id="pops" style="display: block;"></div>
    <div id="ps" style="display: block;"></div>




    <div id="is" style="display: block;"></div>
</ion-content>