<!--
  Generated template for the AmigosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar color="secondary">
        <ion-title class="center"><img src="assets/imgs/logo.png" class="logo" alt=""></ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-list *ngIf="nome">

        <ion-item-divider>
            <h1 class=" center ">Usuários</h1>
            <ion-searchbar (ionInput)="pesquisarUsuarios($event)" [(ngModel)]="nome" placeholder="Buscar"></ion-searchbar>
        </ion-item-divider>
        <ion-item *ngFor="let u of usuarios">
            <ion-thumbnail (click)="visualizarPerfil(u._id)" item-start>
                <!--<img src="{{p}} " *ngFor="let p of u.profile_photo ">-->
                <img src="{{u.profile_photo}}" alt="">
            </ion-thumbnail>
            <div (click)="visualizarPerfil(u._id)">
                <h3>{{u.name}}</h3>
                <h4>{{u.nickname}}</h4>
            </div>
            <div *ngIf="u._id != friendId">
                <button ion-button *ngIf="!u.selected" (click)="seguirUsuario('ADD',u._id)">
              <span>Seguir <ion-icon name="checkmark-circle"></ion-icon></span>
            </button>
                <button ion-button *ngIf="u.selected" color="secondary" (click)="seguirUsuario('DELETE',u._id)">
              <span>Deixar de seguir <ion-icon name="checkmark-circle-outline"></ion-icon></span>
            </button>
            </div>


        </ion-item>
    </ion-list>
    <ion-list>

        <ion-item-divider>
            <h1 class=" center ">Meus seguidores</h1>
            <ion-searchbar (ionInput)="pesquisarUsuarios($event)" [(ngModel)]="nome" placeholder="Buscar"></ion-searchbar>
        </ion-item-divider>
        <ion-item *ngFor="let u of seguidores">
            <ion-thumbnail (click)="visualizarPerfil(u._id)" item-start>
                <!--<img src="{{p}} " *ngFor="let p of u.profile_photo ">-->
                <img src="{{u.profile_photo}}" alt="">
            </ion-thumbnail>
            <div (click)="visualizarPerfil(u._id)">
                <h3>{{u.name}}</h3>
                <h4>{{u.nickname}}</h4>
            </div>
            <button ion-button *ngIf="!u.selected" (click)="seguirSeguidor('ADD',u._id)">
                <span>Seguir <ion-icon name="checkmark-circle"></ion-icon></span>
              </button>
            <button ion-button *ngIf="u.selected" color="secondary" (click)="seguirSeguidor('DELETE',u._id)">
                <span>Deixar de seguir <ion-icon name="checkmark-circle-outline"></ion-icon></span>
              </button>

        </ion-item>
    </ion-list>
</ion-content>