<!--
  Generated template for the InfoUsuarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="secondary">

        <ion-title hideWhen="android" text-center><img src="assets/imgs/logo.png" onerror="this.src='assets/imgs/IconeFestas.png'" class="logo" alt=""></ion-title>
        <ion-grid hideWhen="ios">
            <ion-row>
                <ion-col col-10>
                    <ion-title text-center><img src="assets/imgs/logo.png" onerror="this.src='assets/imgs/IconeFestas.png'" class="logo" alt=""></ion-title>
                </ion-col>
                <ion-col col-2>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>


<ion-content>
    <h1>Informações do usuário</h1>
    <div padding class="infowrapper">
    <ion-item>
        <ion-icon name="create" item-start></ion-icon>
        <ion-label>Editar</ion-label>
        <ion-toggle [(ngModel)]="editar"></ion-toggle>
    </ion-item>
    <form (submit)="editarConta()" [formGroup]="editUsuario" novalidate>
        <ion-list>
            <ion-item>
                <ion-icon name="alert" item-start class="no-before"></ion-icon>
                <ion-label>Pessoa Jurídica</ion-label>
                <ion-toggle [disabled]="!editar" [(ngModel)]="usuario.pessoaJuridica" formControlName="pessoaJuridica" (ionChange)="formEmpresa(usuario.pessoaJuridica)"></ion-toggle>
            </ion-item>
            <ion-item>
                <!--<ion-label>{{(usuario.pessoaJuridica)?"Nome da empresa":"Nome"}}</ion-label>-->
                <ion-icon name="person" item-start class="no-before"></ion-icon>
                <ion-input [readonly]="!editar" type="text" placeholder="*{{(usuario.pessoaJuridica)?'Nome da empresa':'Nome completo'}}" [(ngModel)]="usuario.nome" formControlName="nome"></ion-input>
            </ion-item>
            <ion-item>
                <!--<ion-label>Nickname</ion-label>-->
                <ion-icon name="alert" item-start class="no-before"></ion-icon>
                <ion-input [readonly]="!editar" type="text" placeholder="*Apelido" [(ngModel)]="usuario.nickname" formControlName="nickname"></ion-input>
            </ion-item>
            <ion-item>
                <!--<ion-label>Celular</ion-label>-->
                <ion-icon name="call" item-start></ion-icon>
                <ion-input [readonly]="!editar" type="number" placeholder="Celular" [(ngModel)]="usuario.celular" formControlName="celular"></ion-input>
            </ion-item>
            <ion-item *ngIf="usuario.pessoaJuridica == true">
                <!--<ion-label>CNPJ</ion-label>-->
                <ion-icon name="alert" item-start class="no-before"></ion-icon>
                <ion-input [readonly]="!editar" type="text" formControlName="cnpj" placeholder="*CNPJ da empresa *" [(ngModel)]="usuario.cnpj"></ion-input>
            </ion-item>
            <ion-item *ngIf="usuario.pessoaJuridica == false">
                <ion-icon name="transgender" item-start></ion-icon>
                <ion-label>Sexo</ion-label>
                <ion-select [disabled]="!editar" [(ngModel)]="usuario.sexo" formControlName="sexo">
                    <ion-option value="">Selecione</ion-option>
                    <ion-option value="Masculino">Masculino</ion-option>
                    <ion-option value="Feminino">Feminino</ion-option>
                    <ion-option value="Outro">Outro</ion-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="usuario.pessoaJuridica == false">
                <ion-icon name="calendar" item-start class="no-before"></ion-icon>
                <!--<ion-label>Data de nascimento</ion-label>-->
                <ion-datetime [disabled]="!editar" displayFormat="DD/MM/YYYY" max="2005-12-31" min="1900-01-01" [(ngModel)]="usuario.dataNasc" pickerFormat="DD MM YYYY" placeholder="Data de Nascimento" [(ngModel)]="usuario.dataNasc" formControlName="dataNasc"></ion-datetime>
            </ion-item>
            <ion-item>
                <!--<ion-label>E-mail</ion-label>-->
                <ion-icon name="mail" item-start class="no-before"></ion-icon>
                <ion-input [readonly]="(!usuario.idfacebook && !editar)?true:false" type="email" placeholder="exemplo@email.com *" [(ngModel)]="usuario.email" formControlName="email"></ion-input>
                <h6 *ngIf="errorEmail" class="error"> {{message.email}}</h6>
            </ion-item>
            <ion-item *ngIf="!usuario.idfacebook && editar">
                <!--<ion-label>Senha</ion-label>-->
                <ion-icon name="lock" item-start class="no-before"></ion-icon>
                <ion-input type="password" [(ngModel)]="usuario.password" formControlName="password" placeholder="Senha"></ion-input>
                <h6 *ngIf="errorPassword" class="error"> {{message.password}}</h6>
            </ion-item>
            <ion-item *ngIf="!usuario.idfacebook && editar">
                <!--<ion-label>Confirmar senha</ion-label>-->
                <ion-icon name="lock" item-start class="no-before"></ion-icon>
                <ion-input type="password" [(ngModel)]="usuario.confpassword" formControlName="confpassword" placeholder="Confirmar senha"></ion-input>
            </ion-item>
        </ion-list>
        <div class="center" *ngIf="editar"><button ion-button center [disabled]="!editUsuario.valid && (usuario.password != usuario.confpassword)">Salvar</button></div>
    </form>
    </div>
</ion-content>