page-info-usuario {
    ion-icon.no-before:before{content: '' !important;}
    ion-icon {
        &[class*="custom-"] {
            margin: 0 5px 0 0;
            vertical-align: middle;
            $sz: 50px;
            width: $sz;
            height: $sz;
        } // custom icons
        &[class*="person"] {
            background: url(../assets/imgs/icon-user-b.png) no-repeat 50% 50%;
            background-size: contain;
        }
        &[class*="mail"] {
            background: url(../assets/imgs/icon-envelope.png) no-repeat 50% 50%;
            background-size: contain;
        }
        &[class*="lock"] {
            background: url(../assets/imgs/icon-pass-b.png) no-repeat 50% 50%;
            background-size: contain;
        }
        &[class*="calendar"] {
            background: url(../assets/imgs/icon-calendar-b.png) no-repeat 50% 50%;
            background-size: contain;
        }
    }
    form {height: 100%;}
    form ion-list{
       height:100% !important;
       display:flex !important;
       flex-direction:column !important;
       justify-content:space-around !important;
    }
    .infowrapper{min-height: 80%;}
}