page-detalhes-festa {
*{text-align: center;color: #fff;}
h1{text-align: center;font-size: 1.4em !important;font-weight: bold !important;color: #fff !important;}
.photo{text-align: center;display: block;width: 100%;}
.photo img{width: 60px;height: 60px;border-radius: 50%;}
.autorname *{text-align: center;font-size: 2.0em;}
h3{font-size: 1.4em !important;}
h4{font-size: 1.2em !important;}
h5{font-size: 1.1em !important;font-weight: 200 !important;max-width: 100%;overflow: auto;white-space: normal;}
p{font-size: 1.0em !important;}
button{background: #502bba url("../assets/imgs/btn.png");background-size: cover;}
button ion-icon{margin: 0px 0px 0px 10px;}
.music-styles span{width: 60%;display: inline-block;margin: 0 1%;position: relative;}
.music-styles span img{width: 100%;}
.public img{max-width: 20%;}
.toolbar-background-ios{background: transparent;}
.content-ios{background: transparent;}
}