<!--
  Generated template for the DetalhesFestaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Detalhes da festa</ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="closemodal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-item>
            <ion-slides pager>
                <ion-slide *ngFor="let p of festa.picture">
                    <img src="{{p}}" onerror="this.src='assets/imgs/IconeFestas.png'" style="max-height:251px">
                </ion-slide>
            </ion-slides>
        </ion-item>
        <ion-item>
            <h1>{{festa.title}}</h1>
        </ion-item>
        <ion-item>
            <!---->
            <span class="photo" (click)="visualizarPerfil(festa.owner_id._id)" item-start>
                <img src="{{festa.owner_id.profile_photo}}" alt="">
            </span>

        </ion-item>
        <ion-item>
            
            <div (click)="visualizarPerfil(festa.owner_id._id)" class="autorname">
                <h2>{{festa.owner_id.name}}</h2>
                <h3>{{festa.owner_id.nickname}}</h3>
            </div>

            <div *ngIf="usuario._id != festa.owner_id._id && usuario.pessoa_fisica">
                <button ion-button *ngIf="!selected" (click)="seguir('ADD',festa.owner_id._id)">
                <span>Seguir <ion-icon name="checkmark-circle"></ion-icon></span>
              </button>
                <button ion-button *ngIf="selected" color="secondary" (click)="seguir('DELETE',festa.owner_id._id)">
                <span>Deixar de seguir <ion-icon name="checkmark-circle-outline"></ion-icon></span>
              </button>
            </div>
        </ion-item>
        <ion-item>
            <h5>{{festa.formatted_address}}</h5>
            <h5>{{festa.address.city}} - {{festa.address.state}}</h5>
        </ion-item>
        <ion-item>
            <p><img src="assets/imgs/icon-calendar.png" alt=""></p>
            <h4>{{festa.date | date:'dd/MM/yyyy'}}</h4>
            <h5>Inicio: {{festa.time.open}} Fim: {{festa.time.close}}</h5>
        </ion-item>
         <!--<ion-item class="music-styles">
           <h4>{{festa.style_music}}</h4>
            <div>
                <span *ngFor="let m of festa.style_music_array">
                    <img src="assets/imgs/music/music-{{m|lowercase}}.png" />
                    <h4>{{m}}</h4>
                </span>
            </div>
        </ion-item>-->
</ion-list>
<div padding>
    <ion-grid class="music-styles">
        <ion-row>
            <ion-col col-4 *ngFor="let m of festa.style_music_array" class="lmusic">
                <span><img src="assets/imgs/music/music-{{m|lowercase}}.png" /> {{m}}</span>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
<ion-list>
        <ion-item>
            <h4><img src="assets/imgs/icon-money.png" alt=""></h4>
            <h5>Homens: {{festa.price_male | currency:'BRL':true}}</h5>
            <h5 *ngIf="festa.price_female">Mulheres: {{festa.price_female | currency:'BRL':true}}</h5>
        </ion-item>
        <ion-item class="public">
            <h3>Publico</h3>
            <img src="assets/imgs/gender-{{festa.public|lowercase}}.png" />
            <!----><h5>{{festa.public}}</h5>
        </ion-item>
        <ion-item *ngIf="festa.min_old">
            <h3>Idade mínima</h3>
            <h5>{{festa.min_old}}</h5>
        </ion-item>
        <ion-item>
            <h5>{{festa.description}}</h5>
        </ion-item>
        <ion-item *ngIf="festa.parking" class="center">
            <h1 *ngIf="festa.parking.title">Estacionamento</h1>
            <h2 *ngIf="festa.parking.title">{{festa.parking.title}}</h2>
            <h3 *ngIf="festa.parking.safe">Seguro: {{festa.parking.safe}}</h3>
            <h4 *ngIf="festa.parking.address.cep">{{festa.parking.address.cep}} = {{festa.parking.address.street}}, {{festa.parking.address.number}}</h4>
            <h5 *ngIf="festa.parking.cep">{{festa.parking.address.neighborhood}} - {{festa.parking.address.city}}, {{festa.parking.address.state}}</h5>
            <h6 *ngIf="festa.parking.price_hour">Preço: {{festa.parking.price_hour | currency:'BRL':true}}</h6>
            <p *ngIf="festa.parking.description">{{festa.parking.description}}</p>
        </ion-item>
        <ion-item *ngIf="usuario.pessoa_fisica">
            <ion-grid>
                <ion-row>
                    <ion-col><button ion-button (click)="participar('ADD')">Eu Vou!</button></ion-col>
                    <ion-col><button ion-button (click)="participar('DELETE')">Não vou</button></ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>