<!--
  Generated template for the TirarFotoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <ion-title>Foto</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="fechar()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>
  <button ion-button full (click)="tirarFoto('C')">Tirar Foto</button>
  <button ion-button full (click)="tirarFoto('G')">Buscar Foto</button>
  <img src="{{foto}}" *ngIf="foto">
  <br>
  <button ion-button (click)="ok()" [disabled]="(!foto)" >Ok</button>
</ion-content>
