<ion-header>

</ion-header>
 
<ion-content class="view-home">
    <div class="home-wave"><img src="assets/imgs/home-wave.png" alt=""></div>
    <div class="tuts-table">
        <div class="tuts-table-cell">        
            <div class="center home-logo"><img src="assets/imgs/logo-home.png" alt=""></div>
            <div padding>
                <ion-list>
                    <ion-item>
                        <ion-label floating>Usuário</ion-label>
                        <ion-input type="text" [(ngModel)]="login.email"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Senha</ion-label>
                        <ion-input class="password" type="password" [(ngModel)]="login.password"></ion-input>                        
                    </ion-item>                
                </ion-list>
                <span class="forgot-password" (click)="recuperarSenha()">Esqueci minha senha</span>
                <div class="clear"></div>
                <button ion-button block (click)="entrar()">Logar</button>
                <span class="facebook-login-btn" color="facebook" (click)="loginFacebook()"><img src="assets/imgs/btn-facebook.png" alt=""> Logar com Facebook</span>
                <span class="btn-signup" (click)="criarConta()">Quero me cadastrar</span>
            </div>
        </div>
    </div>
</ion-content>