page-home {
    .item-ios{color: #fff;}
    .list-ios .item-block .item-inner,
    .list-ios > .item-block:last-child{border: 0px;}
    .item-ios.item-label-floating .text-input{border-bottom: #fff solid 1px;}
    .label-md[stacked], .label-md[floating],
    .label-ios[floating]{padding-left: 30px !important;}    
}

.tuts-table{display: table;width: 100%;height: 100vh;z-index: 2;position: relative;}
.tuts-table .tuts-table-cell{vertical-align: middle;display: table-cell;}


.view-home{background: #1e2331 url("../assets/imgs/home-bg.png");background-size: cover;}
.view-home .home-logo img{max-width: 60%;margin-bottom: -70px;}
.view-home .list-md{margin: 0px;}
.view-home .item-md{background: none;color: #fff;margin: 0 auto;padding: 0px;}
.view-home .list-md .item-block .item-inner,
.view-home .list-md .item-input:last-child{border: none;}
.view-home .text-input-md{border-bottom: #fff 1px solid;margin-right: 0px;}
.button-ios,
.modal-wrapper .button-md,
.view-home .button-md{background: #502bba url("../assets/imgs/btn.png");background-size: cover;font-size: 16px;border-radius: 30px;}
.view-home .item-md.item-block .item-inner{padding: 0px;}
.view-home .forgot-password{color: #fff;text-align: right;float: right;margin: 0px 0px 20px 0px;}
.view-home .facebook-login-btn{height: 40px;border: #4267B2 solid 2px;position: relative;text-align: center;color: #fff;display: block;border-radius: 40px;line-height: 38px;font-size: 16px;margin: 10px 0px 30px 0px;}
.view-home .facebook-login-btn img{height: 40px;position: absolute;left: -2px;top: -2px;}
.view-home .btn-signup{display: block;text-align: center;color: #fff;font-size: 16px;}
.view-home .home-wave{position: absolute;bottom: 0px;width: 100%;z-index: 0;}

.view-home .item-input ion-input{color: #fff;}
.view-home .item-input ion-input:before{content: "";display: block;width: 30px;height: 30px;background: url("../assets/imgs/icon-user-w.png") no-repeat center;background-size: contain;}
.view-home .item-input .password:before{background-image: url("../assets/imgs/icon-pass-w.png") !important;}

.modal-wrapper{background: #1e2331 url("../assets/imgs/home-bg.png");background-size: cover;}
.modal-wrapper .item-md,
.modal-wrapper .content-md,
.modal-wrapper .toolbar-background-md{background: transparent;}
.modal-wrapper .item-input .label-md,
.modal-wrapper .item-select .label-md,
.modal-wrapper .item-datetime .label-md,
.modal-wrapper *{color: #fff;}
.modal-wrapper .text-input::-webkit-input-placeholder{color: #fff;}
.label-md[stacked], .label-md[floating],
.label-ios[floating]{color: #fff !important;text-transform: uppercase;}