<!--
  Generated template for the EstacionamentoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Estacionamento</ion-title>
        <ion-buttons start>
            <button ion-button icon-only (click)="closemodal()">
              <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <form (submit)="salvar()" [formGroup]="editEstacionamento" novalidate>
        <ion-list>
            <ion-item>
                <ion-input type="text" placeholder="Titulo*" [(ngModel)]="parking.title" formControlName="titulo"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="CEP*" [(ngModel)]="parking.address.cep" formControlName="cep" (focusout)="completarEndereco()"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Rua*" [(ngModel)]="parking.address.street" formControlName="rua"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="number" placeholder="Número*" [(ngModel)]="parking.address.number" formControlName="numero"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Baírro*" [(ngModel)]="parking.address.neighborhood" formControlName="bairro"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Cidade*" [(ngModel)]="parking.address.city" formControlName="cidade"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Estado*" [(ngModel)]="parking.address.state" formControlName="estado"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="number" placeholder="Preço por hora*" [(ngModel)]="parking.price_hour" formControlName="preco"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Possui seguro: {{parking.safe}}</ion-label>
                <ion-checkbox [(ngModel)]="safe" formControlName="seguro" (ionChange)="seguro(safe)"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-textarea placeholder="Descrição*" [(ngModel)]="parking.description" formControlName="descricao"></ion-textarea>
            </ion-item>
            <button ion-button full [disabled]="!editEstacionamento.valid">Inserir estacionamento</button>
        </ion-list>
    </form>

</ion-content>