<!--
  Generated template for the MapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-toolbar color="header">
        <ion-title hideWhen="android" text-center><img src="assets/imgs/logo.png" onerror="this.src='assets/imgs/IconeFestas.png'" class="logo" alt=""></ion-title>
        <ion-buttons end hideWhen="android">
            <!--<img src="assets/imgs/filter.png" alt="">-->
            <button ion-button icon-only (click)="filtrar()"><ion-icon name="options"></ion-icon><!--<img src="assets/imgs/icon-search.png" alt="">--></button>
        </ion-buttons>
        <ion-grid hideWhen="ios">
            <ion-row>
                <ion-col col-2></ion-col>
                <ion-col col-8>
                    <ion-title class="center"><img src="assets/imgs/logo.png" class="logo" alt=""></ion-title>
                </ion-col>
                <ion-col col-2>
                    <ion-buttons end>
                        <button ion-button icon-only (click)="filtrar()"><ion-icon name="options"></ion-icon><!--<img src="assets/imgs/icon-search.png" alt="">--></button>
                    </ion-buttons>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
<ion-content><div #map id="map"></div></ion-content>