<!--
  Generated template for the EditFestaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
        <ion-toolbar color="secondary">
            <ion-title class="center"><img src="assets/imgs/logo.png" class="logo" alt=""></ion-title>
        </ion-toolbar>
    </ion-header>
    
    
    <ion-content>
        <ion-list>
            <ion-item class="fitem">
                <ion-slides pager>
                    <ion-slide *ngFor="let p of festa.picture; let i = index">
                        <!--<button ion-button center (click)="inserirFoto(i)">Inserir Foto</button><br>-->
                        <img style="max-height:200px;" src="{{p}}" (click)="inserirFoto(i)">
                        <br><br><br><br><br>
                    </ion-slide>
                </ion-slides>
            </ion-item>
        </ion-list>
            <form (submit)="salvar()" [formGroup]="editFesta" novalidate padding>
    <ion-list>
        
            <ion-item>
                <ion-input [(ngModel)]="festa.title" placeholder="Nome da Festa*" formControlName="titulo" type="text" class="party-name" (focusin)="isFocused1 = true" (focusout)="isFocused1 = false" [ngClass]="{focused: isFocused1}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="CEP*" [(ngModel)]="festa.address.cep" formControlName="cep" (focusout)="completarEndereco()" (focusin)="isFocused2 = true" (focusout)="isFocused2 = false" [ngClass]="{focused: isFocused2}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" [(ngModel)]="festa.address.street" formControlName="rua" placeholder="Rua*" (focusin)="isFocused3 = true" (focusout)="isFocused3 = false" [ngClass]="{focused: isFocused3}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" [(ngModel)]="festa.address.number" formControlName="numero" placeholder="Número*" (focusin)="isFocused4 = true" (focusout)="isFocused4 = false" [ngClass]="{focused: isFocused4}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" [(ngModel)]="festa.address.neighborhood" formControlName="bairro" placeholder="Bairro*" (focusin)="isFocused5 = true" (focusout)="isFocused5 = false" [ngClass]="{focused: isFocused5}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" [(ngModel)]="festa.address.city" formControlName="cidade" placeholder="Cidade*" (focusin)="isFocused6 = true" (focusout)="isFocused6 = false" [ngClass]="{focused: isFocused6}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" [(ngModel)]="festa.address.state" formControlName="estado" placeholder="Estado*" (focusin)="isFocused7 = true" (focusout)="isFocused7 = false" [ngClass]="{focused: isFocused7}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="festa.date" formControlName="data" max="2030" min="2018" pickerFormat="DD MM YYYY" placeholder="Data*" (focusin)="isFocused8 = true" (focusout)="isFocused8 = false" [ngClass]="{focused: isFocused8}"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-datetime displayFormat="H:mm " [(ngModel)]="festa.time.open" formControlName="abre" pickerFormat="H mm" placeholder="Inicio*" (focusin)="isFocused9 = true" (focusout)="isFocused9 = false" [ngClass]="{focused: isFocused9}"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-datetime displayFormat="H:mm " [(ngModel)]="festa.time.close" formControlName="fecha" pickerFormat="H mm" placeholder="Termino*" (focusin)="isFocused10 = true" (focusout)="isFocused10 = false" [ngClass]="{focused: isFocused10}"></ion-datetime>
            </ion-item>
            
            <ion-item>
                <ion-textarea ion-input-scroll-into-view placeholder="Descrição*" [(ngModel)]="festa.description" formControlName="descricao" name="description" (focusin)="isFocused11 = true" (focusout)="isFocused11 = false" [ngClass]="{focused: isFocused11}"></ion-textarea>
            </ion-item>
        
        
            <ion-item class="price">
                <ion-label floating>Preço</ion-label>
                <ion-input type="number" [(ngModel)]="festa.price_male" formControlName="preco" placeholder="Preço*" (focusin)="isFocused12 = true" (focusout)="isFocused12 = false" [ngClass]="{focused: isFocused12}"></ion-input>
            </ion-item>
    
            
            <ion-item class="age">
                <ion-label floating>Faixa Etária</ion-label>
                <ion-select [(ngModel)]="festa.min_old" formControlName="idade_minima">
                    <ion-option value="11">11</ion-option>
                    <ion-option value="12">12</ion-option>
                    <ion-option value="13">13</ion-option>
                    <ion-option value="14">14</ion-option>
                    <ion-option value="15">15</ion-option>
                    <ion-option value="16">16</ion-option>
                    <ion-option value="17">17</ion-option>
                    <ion-option value="18">18</ion-option>
                    <ion-option value="19">19</ion-option>
                    <ion-option value="20">20</ion-option>
                    <ion-option value="21">21</ion-option>
                    <ion-option value="22">22</ion-option>
                    <ion-option value="23">23</ion-option>
                    <ion-option value="24">24</ion-option>
                    <ion-option value="25">25</ion-option>
                </ion-select>
            </ion-item>
        
    </ion-list>
    
            <h2>Gênero Musical</h2>
            <ion-select id="style_music_select" #style_music_select multiple="true" [(ngModel)]="festa.style_music" formControlName="estilosMusicais">
                <ion-option *ngFor="let m of estilos" value="{{m.name}}">{{m.name}}</ion-option>
            </ion-select>
            <ion-grid>
                <ion-row>
                    <ion-col col-12 class="lmusic selecione" *ngIf="festa.style_music.length==0" (click)="openSelect()"><label><img src="assets/imgs/music/music-selecione.png" /></label></ion-col>
                    <ion-col col-4 *ngFor="let m of festa.style_music" class="lmusic" (click)="openSelect()">
                        <label><img src="assets/imgs/music/music-{{m|lowercase}}.png" /> {{m}}</label>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <!--EDER-->
            <h2>Publico</h2>
            <ion-grid>
                <ion-row radio-group [(ngModel)]="festa.public" formControlName="publico">
                    <ion-col col-4 *ngFor="let p of publico" class="lmusic gender">
                        <!--<ion-select [(ngModel)]="festa.public" formControlName="publico">
                        <ion-option *ngFor="let p of publico" value="{{p.name}}">{{p.name}}</ion-option>
                        </ion-select>-->
                        <label [ngClass]="{'selected': festa.public === p.name }" (click)="setPublic(p.name)"><img src="assets/imgs/gender-{{p.name|lowercase}}-2.png" /> {{p.name}}</label>
                        <ion-radio value="{{p.name}}">{{p.name}}</ion-radio>
                    </ion-col>
                </ion-row>
            </ion-grid>
                        
            <div><button ion-button block center [disabled]="!editFesta.valid">Bombar Festa</button></div>
        </form>
    
    </ion-content>