page-edit-festa {    
    h2{text-align: center;}
    .party-name{text-align: center !important;font-size: 1.6em;}
    .party-name input{text-align: center !important;}
    .party-name ::-webkit-input-placeholder{text-align: center;}
    .lmusic{text-align: center;}
    .lmusic img{max-width: 50px;display: block;margin: 0 auto;}
    .lmusic.selecione img{max-width: 80px;}
    /*.lmusic  .item-inner:after{background: transparent !important;height: 0px !important;}*/
    .lmusic label{display: block;padding: 5px 0px;}
    .price .text-input-md{text-align: left;}
    .age ion-select{width: 100%;max-width: 100%;text-align: left;}
    .age .select-md .select-icon{display: none;}
    .gender img{-webkit-filter: grayscale(100%);filter: grayscale(100%);}
    .gender .selected img{-webkit-filter: grayscale(0%);filter: grayscale(0%);}

    ion-textarea,
    ion-datetime,
    ion-input{position: relative;margin: 0px !important;width: 100% !important;}
    .datetime-text,
    ion-datetime{line-height: 42px;height: 42px;}
    ion-textarea:after,
    ion-datetime:after,
    ion-input:after{content: '';display: block;height: 2px;background: #1C242F;position: absolute;bottom: 0px;width: 100%;opacity: 0.3;}
    ion-textarea.focused:after,
    ion-datetime.focused:after,
    ion-input.focused:after{background: #FC017F url('../assets/imgs/btn.png');opacity: 1;}

    .price ion-input:after{height: 0px;}
    #style_music_select{color: #fff;height: 0px;padding: 0px !important;}
    #style_music_select .select-icon{display: none !important;width: 0px;}
    ion-select{max-width: none;width: 100%;}
    .item-cover{height: 0px;}
    ion-col{position: initial}
}
.item-select .label-md,
.item-datetime .label-md,
.item-input .label-md,
.datetime-md .datetime-placeholder,
.text-input::-webkit-input-placeholder{text-transform: uppercase;}
.text-input::-webkit-input-placeholder,
.datetime-md .datetime-placeholder,
.item-select .label-md,
.item-datetime .label-md,
.item-input .label-md,
ion-input{color: #000;}

.list-md .item-block .item-inner{border: 0px;}
/*.list-md .item-block .item-inner:after{content: '';display: block;height: 2px;background: #1C242F;position: absolute;bottom: 0px;width: 90%;opacity: 0.3;}*/
.list-md .item-block.fitem .item-inner:after{height: 0px;}

/*.item-md.item-input.item-input-has-focus .item-inner:after,
.item-md.item-input.input-has-focus .item-inner:after{background: #FC017F url('../assets/imgs/btn.png');opacity: 1;}*/

.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner,
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{border: none;box-shadow: none;}
.item-select .label-md,
.item-datetime .label-md,
.item-input .label-md,
.datetime-md{margin: 13px 8px;padding: 0;width: calc(100% - 8px - 8px);}