<!--
  Generated template for the ConfigPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar color="secondary">
        <ion-title class="center"><img src="assets/imgs/logo.png" class="logo" alt=""></ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
  <div class="tuts-table">
    <div class="tuts-table-cell">
        <ion-grid>
            <ion-row>
              <ion-col col-12><a (click)="abrir('PerfilPage')"><img src="assets/imgs/perfil.png" alt=""> <span>Perfil</span></a></ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6><a (click)="abrir('InfoUsuarioPage')"><img src="assets/imgs/perfil-info.png" alt=""> <span>Informações</span></a></ion-col>
              <ion-col col-6><a (click)="abrir('FestasFavoritasPage')"><img src="assets/imgs/perfil-party.png" alt=""> <span>Festas favoritas</span></a></ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6><a (click)="abrir('MinhasFestasPage')"><img src="assets/imgs/perfil-myparty.png" alt=""> <span>Minhas festas</span></a></ion-col>
              <ion-col col-6><a (click)="logout()"><img src="assets/imgs/perfil-logout.png" alt=""> <span>Sair</span></a></ion-col>
            </ion-row>
          </ion-grid>
    </div>
  </div>
</ion-content>