page-configb {
    .tuts-table{height: 80vh;}
    ion-col{text-align: center;margin-bottom: 30px !important;}
    ion-col span{display: block;text-align: center;color: #1C242F;text-transform: uppercase;font-weight: 600;}
    ion-col img{max-width: 40%;}
}