// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.logo {
    max-height: 30px;
}

.grid {
    padding: 0px;
}

.center {
    text-align: center;
}

.circle {
    border: 5px solid white;
    border-radius: 50%;
}

.error {
    color: #ff0000;
    font-size: 12px;
}

/*EDER*/
.tuts-table{display: table;width: 100%;height: 100vh;}
.tuts-table .tuts-table-cell{vertical-align: middle;display: table-cell;}

.view-home{background: #1e2331 url("../assets/imgs/home-bg.png");background-size: cover;}
.view-home .home-logo img{max-width: 60%;margin-bottom: -70px;}
.view-home .list-md{margin: 0px;}
.view-home .item-md{background: none;color: #fff;margin: 0 auto;padding: 0px;}
.view-home .list-md .item-block .item-inner,
.view-home .list-md .item-input:last-child{border: none;}
.view-home .text-input-md{border-bottom: #fff 1px solid;margin-right: 0px;}
.modal-wrapper .button-md,
.button-md{background: #502bba url("../assets/imgs/btn.png");background-size: cover;font-size: 16px;border-radius: 30px;}
.view-home .item-md.item-block .item-inner{padding: 0px;}
.view-home .forgot-password{color: #fff;text-align: right;float: right;margin: 0px 0px 20px 0px;}
.view-home .facebook-login-btn{height: 40px;border: #4267B2 solid 2px;position: relative;text-align: center;color: #fff;display: block;border-radius: 40px;line-height: 38px;font-size: 16px;margin: 10px 0px 30px 0px;}
.view-home .facebook-login-btn img{height: 40px;position: absolute;left: -2px;top: -2px;}
.view-home .btn-signup{display: block;text-align: center;color: #fff;font-size: 16px;}
.view-home .home-wave{position: absolute;bottom: 0px;width: 100%;z-index: 0;}

.view-home .item-input ion-input:before{content: "";display: block;width: 30px;height: 30px;background: url("../assets/imgs/icon-user-w.png") no-repeat center;background-size: contain;}
.view-home .item-input .password:before{background-image: url("../assets/imgs/icon-pass-w.png") !important;}

.modal-wrapper{background: #1e2331 url("../assets/imgs/home-bg.png");background-size: cover;width: 100% !important;height: 100%!important;left: 0px!important;top: 0px!important;}
.modal-wrapper .item-md,
.modal-wrapper .content-md,
.modal-wrapper .toolbar-background-md{background: transparent;}
.modal-wrapper .item-input .label-md,
.modal-wrapper .item-select .label-md,
.modal-wrapper .item-datetime .label-md,
.modal-wrapper *{color: #fff;}
.modal-wrapper .text-input::-webkit-input-placeholder{color: #fff;}

.toolbar-md-secondary .toolbar-background-md{background: transparent !important;}

.item-md h1,
h1{color: #fff;text-transform: uppercase;font-size: 1.2em;text-align: center;}

.toolbar-ios-secondary .toolbar-background-ios{background: #fff !important;}
.list-ios > .item-block:first-child{border-top: 0px;}
.item-ios{background: transparent;}

ion-content{background: #1e2331 url("../assets/imgs/home-bg.png");background-size: cover;}
.toolbar-ios-secondary .toolbar-background-ios,
.item-md,
.toolbar-background{background: transparent !important}
.text-input::-webkit-input-placeholder, .datetime-md .datetime-placeholder, .item-select .label-md, .item-datetime .label-md, .item-input .label-md, ion-input, ion-col span, .item-ios, .item-md{color: #fff !important;}

.ion-md-close,
.ion-ios-close{margin: 0px 10px;}
h1,h2,h3,h4,h5,h6,p,label,span,ion-select{color: #fff;}

ion-card *:not(.button-inner){color: #000;}

page-edit-festa .price *{text-align: left;}
.radio-ios .radio-checked .radio-inner{border-color: #fff;}
.radio-md .radio-inner{background-color: #fff;}

.alert-button-group [ion-button],
.picker-toolbar [ion-button]{background: #502bba url(../assets/imgs/btn.png);}

form, input, optgroup, select{color: #fff;}
.alert-title{color: #000;}

ion-header img{max-height: 100%;}

.bar-button-md{font-size: 1rem;}
.back-button-icon-md{font-size: 2rem;}


.scroll-content {
padding-bottom: 0!important;
}