<!--
  Generated template for the FiltroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Filtro</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="closemodal()">
              <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-datetime displayFormat="H:mm " [(ngModel)]="festa.open" pickerFormat="H mm" placeholder="Inicio*"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Idade mínima</ion-label>
            <ion-select [(ngModel)]="festa.min_old">
                <ion-option value="">Selecione</ion-option>
                <ion-option value="11">11</ion-option>
                <ion-option value="12">12</ion-option>
                <ion-option value="13">13</ion-option>
                <ion-option value="14">14</ion-option>
                <ion-option value="15">15</ion-option>
                <ion-option value="16">16</ion-option>
                <ion-option value="17">17</ion-option>
                <ion-option value="18">18</ion-option>
                <ion-option value="19">19</ion-option>
                <ion-option value="20">20</ion-option>
                <ion-option value="21">21</ion-option>
                <ion-option value="22">22</ion-option>
                <ion-option value="23">23</ion-option>
                <ion-option value="24">24</ion-option>
                <ion-option value="25">25</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Preço entre: {{festa.price.lower | currency:'BRL':true}} - {{festa.price.upper | currency:'BRL':true}}</ion-label>
            <ion-range [(ngModel)]="festa.price" max="1000" dualKnobs="true" pin="true">

                <span range-left>0</span>
                <span range-right>1000</span>


            </ion-range>
        </ion-item>
        <ion-item>
            <ion-label>Musicas</ion-label>
            <ion-select multiple="true" [(ngModel)]="festa.style_music">
                <ion-option *ngFor="let m of estilos" value="{{m.name}}">{{m.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Publico</ion-label>
            <ion-select [(ngModel)]="festa.public">
                <ion-option *ngFor="let p of publico" value="{{p.name}}">{{p.name}}</ion-option>
            </ion-select>
        </ion-item>
        <button ion-button (click)="pesquisar()" block>Pesquisar</button>
    </ion-list>
</ion-content>