page-filtro {
    .scroll-content ion-list{
        height:100% !important;
        display:flex !important;
        flex-direction:column !important;
        justify-content:space-around !important;
    }
}
