page-edit-conta {
 *{color: #fff !important;}
 .toolbar-background-ios{background: transparent;}
 .content-ios{background: transparent;}
 form {height: 100%;}
 form ion-list{
    height:100% !important;
    display:flex !important;
    flex-direction:column !important;
    justify-content:space-around !important;
 }
}
.list-ios .item-block .item-inner,
.list-ios > .item-block:last-child,
.item-ios.item-block .item-inner{border-bottom: 0px;}
