<!--
  Generated template for the EditContaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

-->
<ion-header>

    <ion-navbar>
        <ion-buttons start>
            <button ion-button icon-only (click)="closemodal()">
          <ion-icon name="close"></ion-icon>
      </button>
        </ion-buttons>
        <ion-title>Conta</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <form (submit)="editarConta()" [formGroup]="form" novalidate>
        <ion-list>
            <ion-item *ngIf="usuario.idfacebook">
                <img src="{{usuario.profile_photo}}">
            </ion-item>
            <ion-item>
                <ion-label>Pessoa Jurídica</ion-label>
                <ion-toggle [(ngModel)]="usuario.pessoaJuridica" formControlName="pessoaJuridica" (ionChange)="formEmpresa(usuario.pessoaJuridica)"></ion-toggle>
            </ion-item>

            <ion-item>
                <ion-label>{{(usuario.pessoaJuridica)?"Nome da empresa":"Nome"}}</ion-label>
                <ion-input type="text" placeholder="{{(usuario.pessoaJuridica)?'Nome da empresa *':'Nome *'}}" [(ngModel)]="usuario.nome" formControlName="nome"></ion-input>
            </ion-item>
            <ion-item *ngIf="usuario.pessoaJuridica == true">
                <ion-label>CNPJ</ion-label>
                <ion-input type="text" formControlName="cnpj" placeholder="CNPJ da empresa *" [(ngModel)]="usuario.cnpj" (focusout)="validarCNPJ()"></ion-input>
            </ion-item>
            <ion-item *ngIf="usuario.pessoaJuridica == false">
                <ion-label>Sexo</ion-label>
                <ion-select [(ngModel)]="usuario.sexo" formControlName="sexo">
                    <ion-option value="">Selecione</ion-option>
                    <ion-option value="Masculino">Masculino</ion-option>
                    <ion-option value="Feminino">Feminino</ion-option>
                    <ion-option value="Outro">Outro</ion-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="usuario.pessoaJuridica == false">
                <ion-label>Data de nascimento</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" max="2005-12-31" min="1900-01-01" [(ngModel)]="usuario.dataNasc" pickerFormat="DD MM YYYY" placeholder="dd/mm/yyyy" [(ngModel)]="usuario.dataNasc" formControlName="dataNasc"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>E-mail</ion-label>
                <ion-input type="email" placeholder="exemplo@email.com *" [(ngModel)]="usuario.email" [disabled]="(usuario.idfacebook && !editEmail)?true:false" formControlName="email"></ion-input>
                <h6 *ngIf="errorEmail" class="error"> {{message.email}}</h6>
            </ion-item>
            <ion-item *ngIf="!usuario.idfacebook">
                <ion-label>Senha</ion-label>
                <ion-input type="password" [(ngModel)]="usuario.password" formControlName="password"></ion-input>
                <h6 *ngIf="errorPassword" class="error"> {{message.password}}</h6>
            </ion-item>
            <ion-item *ngIf="!usuario.idfacebook">
                <ion-label>Confirmar senha</ion-label>
                <ion-input type="password" [(ngModel)]="usuario.confpassword" formControlName="confpassword"></ion-input>
            </ion-item>
            <ion-item>
                <button ion-button block [disabled]="!form.valid">Salvar</button>
            </ion-item>
        </ion-list>
    </form>

</ion-content>