<!--
  Generated template for the MinhasFestasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="secondary">
        <ion-title hideWhen="android" text-center><img src="assets/imgs/logo.png" onerror="this.src='assets/imgs/IconeFestas.png'" class="logo" alt=""></ion-title>
        <ion-grid hideWhen="ios">
            <ion-row>
                <ion-col col-10>
                    <ion-title text-center><img src="assets/imgs/logo.png" onerror="this.src='assets/imgs/IconeFestas.png'" class="logo" alt=""></ion-title>
                </ion-col>
                <ion-col col-2>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-item-divider>
            <h1 class="center">Minhas festas</h1>
        </ion-item-divider>        
    </ion-list>
    <ion-grid>
        <ion-row>
            <ion-col col-6 *ngFor="let f of festas" class="favparty">
                <ion-thumbnail item-start (click)="detalharFesta(f._id)">
                    <img src="{{p}}" *ngFor="let p of f.picture| slice:0:1">
                </ion-thumbnail>
                <div (click)="detalharFesta(f._id)">
                    <h4>{{f.title}}</h4>
                    <p>{{f.description}}</p>
                </div><!---->
                <button ion-button icon-only clear (click)="deletar(f._id)"><ion-icon name="trash"></ion-icon></button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>