<!--
  Generated template for the RecuperarSenhaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-toolbar>
        <ion-buttons start>
            <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
    </button>
        </ion-buttons>
        <ion-title>Recuperar Senha</ion-title>
    </ion-toolbar>

</ion-header>


<ion-content padding>
    <form [(formGroup)]="emailForm" (submit)="enviarEmail()">
        <ion-item>
            <ion-label floating>E-mail</ion-label>
            <ion-input type="email" [(ngModel)]="dados.email" formControlName="email"></ion-input>
        </ion-item>
        <button ion-button block>Enviar e-mail</button>
    </form>
    <div>
        <form [(formGroup)]="senhaForm" (submit)="alterarSenha()">
            <ion-item>
                <ion-label floating>Código</ion-label>
                <ion-input type="text" [(ngModel)]="dados.codigo" formControlName="codigo"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Nova senha</ion-label>
                <ion-input type="password" [(ngModel)]="dados.senha" formControlName="senha"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Confirmar nova senha</ion-label>
                <ion-input type="password" [(ngModel)]="dados.confsenha" formControlName="confsenha"></ion-input>
            </ion-item>
            <button ion-button block>Alterar Senha</button>
        </form>
    </div>

</ion-content>