<!--
  Generated template for the DestaquesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar color="secondary">
        <ion-title class="center"><img src="assets/imgs/logo.png" class="logo" alt=""></ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item-divider>
            <h1 class="center">Festas destaques</h1>
        </ion-item-divider>
        <ion-item *ngFor="let f of festas" (click)="detalharFesta(f._id)">
            <ion-thumbnail item-start>
                <img src="{{p}}" onerror="this.src='assets/imgs/IconeFestas.png'" *ngFor="let p of f.picture| slice:0:1">
            </ion-thumbnail>
            <h2>{{f.title}}</h2>
            <p>{{f.description}}</p>
        </ion-item>
    </ion-list>
</ion-content>